<!DOCTYPE html>
<html>
<head>
    <title><%= event.title %>: Confirmation</title>
    <style>
        div {
            text-align: justify;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Confirmation of your visit to <%= event.title %></h1>

    <div>Please confirm that you will actually visit <%= event.title %></div>

    <div><%= event.desc %></div>

    <div>If you really going to visit this event please visit this link: <a href='<%= confirm.url %>'><%= confirm.url %></a>.
        You can ignore this email if you're not going to attend.
    </div>
</body>
</html>