<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/"></base>
    <title>GDG Contact Form</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Oleh Zasadnyy">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">


</head>

<body>

<div class="wrapper">
    <div id="main" role="main">
            <div id="contact-form">
            <img id="logo" src="images/logo.png" alt="logo">
            <h1>Registration to <%= event.title %> was closed</h1>

                <h3>Sorry, but registration to this event was already closed. You can <a href="<%= event.url %>">check event details</a>.
                </h3>
                Please consider visiting our next events:
                <ul>
                <% for (var n in events) { %>
                    <li><a href="<%= events[n].url %>" target="_blank"><%= events[n].title %></a> <%= events[n].date %></li>
                <% } %>
                </ul>
            </div>
     </div>
 </div>
</body>
</html>